<%- include("partials/header.ejs") %>
    <main>
        <div class="form">
            <form method="post">
                <input type="text" id="" name="mangaId" placeholder="Add a number">
                <input id="button" type="submit" , value="Submit" , formaction="get-manga">
            </form>
        </div>

        <% if (locals.content) { %>
            <div class="container">
                <div class="img">
                    <!-- <img src="content.imgURL" alt=""> -->
                    <img src="<%= content.imgURL%>" alt="">
                </div>
                <div class="info">
                    <div id="title">
                        <h2>Title</h2>
                        <div class="title-content">
                            <p>
                                &#187;
                                <a href="<%= content.malURL%>" target="_blank">
                                    <%= content.titleJP%>(JP)
                                </a>
                            </p>
                            <p>
                                &#187;
                                <a href="<%= content.malURL%>" target="_blank">
                                    <%= content.titleEN%>(EN)
                                </a>
                            </p>
                        </div>
                    </div>
                    <div id="status">
                        <h2>Status</h2>
                        <p>
                            <%= content.status%>
                        </p>
                    </div>
                    <div id="chapters">
                        <h2>Chapters</h2>
                        <p>
                            <%= content.chapters%>
                        </p>
                    </div>
                    <div id="score">
                        <h2>Score</h2>
                        <p>
                            <%= content.score%>
                        </p>
                    </div>
                    <div id="volume">
                        <h2>Volumes</h2>
                        <p>
                            <%= content.volumes%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="synopsis-container">
                <div class="synopsis">
                    <h2>Synopsis</h2>
                    <p>
                        <%= content.synopsis%>
                    </p>
                </div>
            </div>

            <%} %>
    </main>

    <%- include("partials/footer.ejs") %>