body {
    background-color: #FFEDDB;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 0;
}

a {
    color: #575757;
}

/* Header */
header {
    display: flex;
    justify-content: center;
}

/* Form: Input and Button */
.form {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
}

form input[type='text'] {
    width: 200px;
    height: 30px;
    font-size: 1.15rem;
    border-radius: 7.5px;
    text-align: center;
    outline: none;
    border: 1.75px solid #575757;
    background-color: #EDCDBB;
    color: #575757;
}

form input[type='submit'] {
    margin-left: 0.5em;
    padding: 0.77em;
    outline: none;
    background-color: #E3B7A0;
    color: #575757;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 7.5px;
    cursor: grab;
    border: 1.80px solid #575757;
}

#button:hover {
    box-shadow: 0 0 0 2px rgba(238, 110, 36, 0.5);
    transition: all 50ms ease-out;
}

/* Main content */
p {
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 15% 0 15%;
}

/* Info */
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 100px;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'PT Serif', serif;
    font-size: 1.15rem;
    text-transform: uppercase;
}

.info p {
    margin-top: 0;
}

#title>.title-content {
    width: 200px;
}

.title-content> :nth-child(1) {
    margin-bottom: 2.5px;
}

/* Image */
.img>img {
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* Synopsis */
.synopsis-container {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

.synopsis>p {
    width: 350px;
    margin-top: 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.copyright {
    font-weight: 700;
    color: #575757;
}